<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nitin.desichain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyOrders"
            android:label="@string/title_activity_my_orders"
            android:parentActivityName=".MyAccount"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nitin.desichain.MyAccount" />
        </activity>
        <activity
            android:name=".HelpCentre"
            android:label="Help Centre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyCart"
            android:label="My Cart"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Policy"
            android:label="@string/policy_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Payment"
            android:label="Payment"
            android:parentActivityName=".BuyNow"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuyNow" />
        </activity>
        <activity
            android:name=".BuyNow"
            android:label="Delivery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".MyAccount"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAccount" />
        </activity>
        <activity
            android:name=".MyAddress"
            android:label="My Address"
            android:parentActivityName=".MyAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAccount" />
        </activity>
        <activity
            android:name=".FullOrder"
            android:parentActivityName=".MyOrders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyOrders" />
        </activity>
        <activity
            android:name=".ProductPageActual"
            android:label="ProductPage"
            android:parentActivityName=".RatingReviews">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RatingReviews" />
        </activity>
        <activity
            android:name=".AddNewAddress"
            android:label="Add an Address" />
        <activity
            android:name=".CategoryPage"
            android:label="CategoryPage"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".BankDeposit" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".QuestionandAnser"
            android:parentActivityName=".ProductPageActual"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nitin.desichain.ProductPageActual" />
        </activity>
        <activity
            android:name=".SingleQuesMultiAnswerList"
            android:label="Desichain"
            android:parentActivityName=".QuestionandAnser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuestionandAnser" />
        </activity>
        <activity android:name=".RatingReviews"
            android:parentActivityName=".ProductPageActual">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductPageActual"/>
        </activity>
        <activity android:name=".WriteReview"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".RatingReviews">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RatingReviews"/>
        </activity>
    </application>

</manifest>